html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif; 
    background-color: #efefef;
    color: #474646;
}

.nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    background-color: #efefef;
    opacity: .92;
    border-bottom: #666666;
    border-width: .3%;
    border-bottom-style: solid;
}

.nav a {
    float: left;
    text-align: center;

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;

    text-decoration: none;
    font-size: 30px;

    color: #666666;
    background-color: #efefef;
    transition: background-color 0.1s ease-in-out;
}

.nav :hover {
    color: #bebebe;
    background-color: #666666;
    border-bottom: solid;
    border-color: #bebebe;

    padding-bottom: 1%;
    border-spacing: 0;
}

.card {
    font-family: 'Georgia', Times, serif;
    font-size: 175px;
    text-align: center;
    position: relative;
    margin-top: 20%;
}

.parallax {
    background-image: url("cloud.jpg");

    min-height: 1000px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("grass.jpg");

    min-height: 1500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec_head {
    padding-top: 10%;
    margin-bottom: 5%;
    margin-left: 10%;

    font-family: 'Georgia', Times, serif;
    font-size: 150px;
    text-align: left;
}

p {
    margin-top: 0;
    padding-left: 5%;
    padding-right: 20%;
    padding-bottom: 20%;

    line-height: 175%;
    font-size: 45px;
    
    float: left;
    width: 80%;
    background-color: #efefef;
}